{% extends 'base.html' %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mealingredient.css' %}">
{% endblock %}

{% block title %}
Amount of Oxalates
{% endblock %}

{% block navbar_main %}
Feedback
{% endblock %}

{% block content %}
<br>
<div class="container">
	<h5>Here at Amount of Oxalates, we appreciate any and all feedback. Like how your boss thinks you do, we thrive off negative feedback! But unlike your boss, you can help us be better by including the following information in your feedback:</h5>
	<h5>Requesting a new ingredient:</h5>
	<p>Include the name, usual serving size (e.g. 1 medium banana), as well as the source that tells you the oxalate levels in the ingredient</p>
	<h5>Requesting a new meal:</h5>
	<p>Include the most common recipe for the food, the usual serving size (e.g. 1 medium pizza) as well as it's weight in grams (yes I am sorry fellow Americans, you will have to convert this), as well as the weights of each ingredient for a usual serving size.</p>
	<h5>General feedback:</h5>
	<p>Include anything you like! We are still human so cut us some slack when we make mistakes and we always appreciate a kind message or good joke!</p>

	<h5>Send us an email:</h5>
	<SCRIPT TYPE="text/javascript">
	emailE = 'gmail.com'
	emailE = ('aooxalates' + '@' + emailE)
	document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
	</script>
	<NOSCRIPT>
	Email address protected by JavaScript
	</NOSCRIPT>
</div>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock %}