{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lookup/ingredient.css' %}">
{% endblock %}

{% block title %}
Amount of Oxalates
{% endblock %}

{% block navbar_main %}
{{ name }}
{% endblock %}

{% block content %}

<section class="jumbotron">
	<div class="container text-center">
    <br>
    {% if ox_per_portion <= 10 %}
		  <img src="{% static 'lookup/low.png' %}" class="img-fluid w-100" alt="My image">
    {% elif ox_per_portion <= 25 %}
      <img src="{% static 'lookup/mod.png' %}" class="img-fluid w-100" alt="My image">
    {% else %}
      <img src="{% static 'lookup/high.png' %}" class="img-fluid w-100" alt="My image">
    {% endif %}
	</div>
</section>

<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ ox_per_portion }} mg per portion of {{ portion_desc }} ({{ portion_grams }} g)
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          {{ source_notes }}
        </div>
      </div>
    </div>
  </div>
</div>

<br>

{% if alternatives != 'none' %}
  <div class="container">
    <div class="card">
        <h5 class="card-header">Low-oxalate alternatives:</h5>
        <div class="card-body">
          {{ alternatives }}
        </div>
    </div>
  </div>
{% endif %}

<br>
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock %}