{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lookup/ingredient.css' %}">
{% endblock %}

{% block title %}
{{ name }}
{% endblock %}

{% block content %}

<section class="jumbotron">
	<div class="container text-center">
		<img src="{% static 'lookup/low.png' %}" class="img-fluid w-100" alt="My image">
	</div>
</section>

<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ ox_per_portion }} mg per portion of {{ portion_desc }} ({{ portion_grams }} g)
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          {{ source_notes }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}