{% extends "base.html" %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lookup.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}
Amount of Oxalates
{% endblock %}

{% block navbar_main %}
Amount of Oxalates
{% endblock %}

{% block content %}

<br>

<div class="container-md">
	<div class="row justify-content-center">
		<div class="container-fluid">
			<div class="input-group mb-3">
				<input type="text" class="form-control rounded border-success" name="Meal" id="Meal" aria-describedby="basic-addon3" placeholder="Amount of oxalates in...">
				
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$('input:text').focus(
    function(){
        $(this).val('');
    });
$( function() {
	$( "#Meal" ).autocomplete({
		source: '{% url 'lookup' %}',
		minLength: 3,
		select: function(event, ui) {
			window.location.href = ui.item.value+'/';
		}
	});
} );
</script>

<br>

<!--toggle-->
<div class="text-center">
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">Can't find what you're looking for?</a>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body text-center">
      	<p>
        Click the bar above and begin typing at least 3 letters of the food you're looking for. Still can't find it? It might need to be added. You can request it via the<a href="{% url 'feedback' %}">&nbsp;feedback&nbsp;</a>tab.
    </p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="text-center">
  <a class="btn btn-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Disclaimer</a>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Why the i/ & m/?</button>
</div>
<div class="col">
  <div class="row">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <h6>Disclaimer:</h6>
        <p>Although the best efforts are made to ensure the information on this app is reliable, up-to-date, and correct, this app and information within does not replace the advice given by medical professionals.</p>

        <p>This app does not intend to treat, diagnose, prevent, or cure diseases. It is to be used at your own risk and it meant to be used as a guideline only. Due to the inconsistent nature of foods and portion sizes, the information in this app might not apply to use and is based off the add developer's (75kg 24 year old male's) average portion sizes.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
      	<h6>Why the i/ & m/?</h6>
        <p>You may be wondering why there are "i/" or "/m" before the food dropdown search results. Although not necessary to type, this is due to the way the databases are coded, using seperate databases for meals and ingredients respectively (since their result pages vary slightly). I am not a professional web developer and wanted to build this app to aid the gap in having easily accessible oxalate contents in complete meals, as well as a change history of research studies for individual ingredients. The code for this website is open-source and can be found on my github page.</p>
      </div>
    </div>
  </div>
</div>
<!--endtoggle-->

<div class="bg-primary fixed-bottom">
      <div class="container">
			<div class="row justify-content-center">
				<div class="text-center">
					<a href="https://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/">How to add to homescreen</a>
				</div>
			</div>
		</div>
</div>


{% endblock %}


