{% extends "base.html" %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lookup/ingredient.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}
Amount of Oxalates
{% endblock %}

{% block navbar_main %}
Amount of Oxalates
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-6 centering text-center">
			<label for="basic-url">Can you eat it or not? Start typing the name:</label>
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon3">Meals</span>
			  </div>
			  <input type="text" class="form-control" name="Meal" id="Meal" aria-describedby="basic-addon3">
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
	$( "#Meal" ).autocomplete({
		source: '{% url 'lookup' %}',
		minLength: 3,
		select: function(event, ui) {
			window.location.href = ui.item.value+'/';
		}
	});
} );
</script>
{% endblock %}