{% extends "base.html" %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lookup/lookup.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}
Amount of Oxalates
{% endblock %}

{% block navbar_main %}
Amount of Oxalates
{% endblock %}

{% block content %}

<br>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="text-center mx-auto">
<!-- 			<label for="basic-url">Can you eat it or not? Start typing the name:</label>
 -->			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <!-- <span class="input-group-text" id="basic-addon3">Amount of Oxalates in:</span> -->
			  </div>
			  <input type="text" class="form-control" name="Meal" id="Meal" aria-describedby="basic-addon3" placeholder="Amount of oxalates in...">
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
	$( "#Meal" ).autocomplete({
		source: '{% url 'lookup' %}',
		minLength: 3,
		select: function(event, ui) {
			window.location.href = ui.item.value+'/';
		}
	});
} );
</script>

<br>

<!--toggle-->
<div class="text-center">
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">Can't find what you're looking for?</a>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>

<br>

<div class="text-center">
  <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Disclaimer</a>
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Why the i/ & /m?</button>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>
<!--endtoggle-->


<div class="navbar fixed-bottom" style="background-color: #f5f5f5;">
      <div class="container">
			<div class="row justify-content-center">
				<div class="text-right">
					<a href="#">Add to homescreen</a>
				</div>
			</div>
		</div>
</div>


{% endblock %}