{% extends 'base.html' %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lookup/ingredient.css' %}">
{% endblock %}

{% block title %}
Amount of Oxalates
{% endblock %}

{% block navbar_main %}
Amount of Oxalates in: {{ name }}
{% endblock %}

{% block content %}

<section class="jumbotron">
	<div class="container text-center">
    <br>
    {% if ox_per_portion <= 10 %}
		  <img src="{% static 'lookup/low.png' %}" class="img-fluid w-100" alt="My image">
    {% elif ox_per_portion <= 25 %}
      <img src="{% static 'lookup/mod.png' %}" class="img-fluid w-100" alt="My image">
    {% else %}
      <img src="{% static 'lookup/high.png' %}" class="img-fluid w-100" alt="My image">
    {% endif %}
	</div>
</section>

<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ ox_per_portion }} mg per portion of {{ portion_desc }} ({{ portion_grams }} g)
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 centering text-center">
			<table class="table table-sm">
			    <tr>
			        <th>Ingredient</th>
			        <th>Amount of Oxalates (mg)</th>
			        <th>QTY Ingredient (g)</th>
			    </tr>
			{% for left, middle, right in rows %} 
			  <tr>
			    <td>{{ left }}</td>
			    <td>{{ middle }}</td>
			    <td>{{ right }}</td>
			  </tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}

